<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <form  method="POST">
        {% csrf_token %}
    <h4>SapId :</h4>
    <textarea  cols=50 name="sapId"></textarea>
    <h4>Name :</h4>
    <textarea cols=50 name="Name"></textarea>
    <h4>Age :</h4>
    <input type="number" name="Age"/> 
    <h4>Certificate :</h4>  
    <input type="file" name="certificate" accept="application/pdf"/>
    <br>
    <br>
    <br>
    
    <input type="submit" value="Save"/>
</center>
</form>
</body>
</html>



